<div style="text-align: center;">
    <img src="https://hondurasconecta.org/images/Newsletter/logofooter.png" alt="Honduras Conecta" width="276"
        height="130">
</div>
<nav class="navbar navbar-expand-lg navbar-custom navbar-fixed-top" style="text-align: center">
    <a style="color: #39536e;">a</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav nav navbar-nav navbar-center">
            <li class="nav-item active ">
                <a class="nav-link" [routerLink]="['/clases']" routerLinkActive="activo"
                    [routerLinkActiveOptions]="{exact: true}">Inicio <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item ">
                <a class="nav-link" [routerLink]="['/clases']" routerLinkActive="activo"
                    [routerLinkActiveOptions]="{exact: true}">¿Quienes Somos?</a>
            </li>
            <li class="nav-item ">
                <a class="nav-link" [routerLink]="['/clases']" routerLinkActive="activo"
                    [routerLinkActiveOptions]="{exact: true}">Iniciativas</a>
            </li>
            <li class="nav-item ">
                <a class="nav-link" [routerLink]="['/clases']" routerLinkActive="activo"
                    [routerLinkActiveOptions]="{exact: true}">Blog</a>
            </li>
            <li class="nav-item ">
                <a class="nav-link" [routerLink]="['/clases']" routerLinkActive="activo"
                    [routerLinkActiveOptions]="{exact: true}">Contacto</a>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <button class="btn btn-outline-success my-2 my-sm-0" style="visibility: hidden;"
                type="submit">Search</button>
            <button class="btn btn-primary" style="position:fixed; left:90%;" (click)="login()">Inicio de
                Sesión</button>
        </form>
    </div>
</nav>